.heading {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
}
.box {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 3px;
  padding: 20px;
  width: 40%;
  margin: 10px;
  cursor: move;
  background: #ffffff;
}
.box p {
  margin: 0px 10px;
  font-family: 'Roboto', sans-serif;
}

.box p.number {
  background-color: #2896e9;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  color: white;
  font-weight: bold;
  transition: background-color 100ms linear;
  display: grid;
  place-items: center;
  font-size: 24px;
}

.box p.text {
  font-size: 26px;
  margin-left: 40px;
}

.box:hover {
  background: transparent linear-gradient(to left, #2896e9, #7467f0);
  color: white;
}

.drag {
  display: flex;
  align-items: center;
  content: 'Drop here';
  height: 70px;
  border-radius: 3px;
  border: 2px dashed blue;
  padding: 20px;
  width: 40%;
  margin: 10px;
  background: #ffffff;
  cursor: move;
}

.drag p {
  margin: 0px 10px;
  font-family: 'Roboto', sans-serif;
}

.author {
  font-family: 'Roboto', sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 15px;
}
